* {
    margin: 0;
    padding: 0;
}

.profile {
width: 250px;
height: 250px;
border-radius: 50%;
margin: 0 auto 2rem auto;

}

title {
font-size: 36px;
}

.titulo {
font-size: 30px;
position: relative
}

img {
    display: block;
    max-width: 100%;
    width: 30px;
}

body {
    font-family: "Source Code Pro", monospace;
    background: url("img/Plano\ de\ Fundo.png") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #733b47;
}

.box span {
    font-size: 20px;
}

.box {
    background: rgb(206, 211, 209);
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    text-align: center;
    margin-top: 8rem;
}

li {
    list-style: none;
}

.redes-sociais {
    display: flex;
    justify-content: center;
}

.redes-sociais li {
    margin-right: 1rem;
}
  
